
/* ------------------------ 

     SIMPLE CSS PAGE 
	
--------------------------- */

/* ----- =structure ----- */

body {
	background-color: #fff;
}

header {
	height: 140px;
	background-color: #fff;
  font-family: 'Oswald', sans-serif;
}

main {
	padding-top: 40px;
	min-height: 400px;
  font-size: 16px;
}

footer {
	height: 16px;
	background-color: #bdcbd9;
}

/* ----- =logo ----- */

h1 {
	font-size: 20px;
	text-align: center;
	padding-top: 30px;
	margin: 0 0 0 20px;
    color: #8f99a4;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* ----- =footer ----- */
footer {
	text-align: left;	
}
footer #copyright {
	color: #fff;
	padding-top: 10px;
}
